<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAHFSzTGus-UfBTOOfxMNaRyO7Qg3kesEg",
    authDomain: "vstpress-site.firebaseapp.com",
    projectId: "vstpress-site",
    storageBucket: "vstpress-site.appspot.com",
    messagingSenderId: "886524295321",
    appId: "1:886524295321:web:91d45b7f2c39fc2e1e2008"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>